---
import Loading from "../../components/Loading.astro";
import BlogLayout from "../../layouts/BlogLayout.astro";
---

<BlogLayout title="Emil's Portfolio" isIndex={true}>
  <div class="justify-center flex flex-col h-full items-center">
    <Loading />Click on a post to begin reading!
  </div>
</BlogLayout>

<script>
  if (document.body.clientWidth > 1024) {
    document.getElementById("links")?.click();
  }
</script>
