---
import Loading from "../../components/Loading.astro";
import BlogLayout from "../../layouts/BlogLayout.astro";
---

<BlogLayout title="Emil's Portfolio" currentPage="Blog">
  <div class="justify-center flex flex-col h-full items-center">
    <Loading />Click on a post to begin reading!
  </div>
</BlogLayout>
