.blog-content img {
  max-width: 100%;
  margin: auto;
}

.blog-content table {
  width: 100%;
}

.blog-content table,
.blog-content th,
.blog-content td {
  padding: 5px;
}

.blog-content {
  font-family: "Inter", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
  font-size: 1.125rem;
  line-height: 1.65;
  text-align: justify;
}

.blog-content article {
  margin-top: 4em;
  margin-bottom: 4em;
  min-height: 400px;
}

.blog-content video {
  margin: 2em 0;
  border: 1px solid #ddd;
}

/* Typography
-------------------------------------------------------- */

.blog-content h1 {
  margin-top: 0;
  font-weight: normal;
  font-size: 2.75rem;
  text-align: center;
}

.blog-content h2 {
  font-weight: normal;
  font-size: 2.25rem;
  margin-top: 3em;
}

.blog-content h3 {
  font-size: 1.75rem;
  font-weight: normal;
  font-style: italic;
  margin-top: 1em;
}

.blog-content p {
  margin-top: 1rem;
  -webkit-hypens: auto;
  -moz-hypens: auto;
  hyphens: auto;
}

.blog-content ul {
  list-style: square;
  padding-left: 1.2em;
}

.blog-content ol {
  margin: auto;
  list-style: decimal;
  padding-left: 1.2em;
}

.blog-content blockquote {
  width: 75%;
  margin: auto;
  font-style: italic;
  text-align: center;
  background-color: #e9eddf;
  padding: 0.5rem;
  box-shadow: 2px 4px 0px 0px #000000;
  margin-top: 1em;
}

.blog-content blockquote > p {
  margin: 0;
}

.blog-content h1 a,
.blog-content h1 a:hover {
  color: #333;
  text-decoration: none;
}

.blog-content hr {
  height: 1px;
  margin: 2em 0;
  border-top: solid 1px #ddd;
  border-bottom: none;
  border-left: 0;
  border-right: 0;
}

.blog-content p#heart {
  font-size: 2em;
  line-height: 1;
  text-align: center;
}

.blog-content pre {
  margin-top: 1rem;
  padding: 1rem;
  font-size: 0.95rem;
}

.blog-content li > a,
.blog-content p > a {
  color: #0000ee;
}

.blog-content li > a:hover,
.blog-content p > a:hover {
  text-decoration: underline;
}

.blog-content code {
  text-align: center;
  background-color: #0d1117;
  color: #ddd;
  font-size: 0.95rem;
  padding: 1px;
}
