---
import Layout from "../layouts/Layout.astro";
import Loading from "../components/Loading.astro";
---

<Layout title="About Emil" currentPage="About">
  <main class="items-center justify-center h-screen flex flex-col bg-green">
    still under construction<Loading />
  </main>
</Layout>
