---
import SplitLayout from "../layouts/SplitLayout.astro";
import Loading from "../components/Loading.astro";
import ChewingGum from "../components/ChewingGum.astro";
---

<SplitLayout title="Emil's Portfolio" currentPage="Home">
  <main
    slot="Left Content"
    class="items-center justify-center h-full flex flex-col background-texture bg-green"
  >
    still under construction<Loading />
  </main>
  <div slot="Right Content" class="h-full overflow-hidden bg-black">
    <ChewingGum />
  </div>
</SplitLayout>
