---
import Layout from "../layouts/Layout.astro";
import Loading from "../components/Loading.astro";
---

<Layout title="Emil's Portfolio">
  <main class="flex items-center justify-center h-full"><Loading /></main>
</Layout>
