---
---

<div class="flex flex-col">
  <div class="flex">
    <div class="w-20 h-20 bg-black text-white m-3 animate-curveIn1"></div>
    <div class="w-20 h-20 bg-black text-white m-3 animate-curveIn2"></div>
  </div>
  <div class="flex">
    <div class="w-20 h-20 bg-black text-white m-3 animate-curveIn4"></div>
    <div class="w-20 h-20 bg-black text-white m-3 animate-curveIn3"></div>
  </div>
</div>
