<div class="flex">
  <div class="h-4 w-4 rounded-full bg-white shadow-hard mx-1"></div><div
    class="h-4 w-4 rounded-full bg-white shadow-hard mx-1"
  >
  </div><div class="h-4 w-4 rounded-full bg-white shadow-hard mx-1"></div><div
    class="h-4 w-4 rounded-full bg-white shadow-hard mx-1"
  >
  </div><div class="h-4 w-4 rounded-full bg-white shadow-hard mx-1"></div>
</div>
