---
import Header from "../components/CustomHeader.astro";
export interface Props {
  title: string;
  currentPage: string;
}

const { title, currentPage } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="generator" content={Astro.generator} />
  <meta name="description" content="The portfolio website of Emil Joshy" />
  <title>{title}</title>
  <body class="flex bg-white flex-col h-screen">
    <Header currentPage={currentPage} />
    <div class="h-full"><slot /></div>
  </body>
  <style is:global>
    @font-face {
      font-family: "Sudo Var";
      src: url("/fonts/SudoVariable.ttf") format("truetype");
      font-weight: normal;
      font-style: normal;
      font-display: swap;
    }
    html {
      font-family: "Sudo Var", sans-serif;
    }

    .shadow-hard {
      box-shadow: 2px 4px 0px 0px #000000;
    }

    .background-texture {
      background-image: url(/texture.svg);
      background-blend-mode: multiply;
    }
    button {
      -webkit-tap-highlight-color: transparent;
    }
  </style>
</html>
