---
import Header from "../components/CustomHeader.astro";
import Loading from "../components/Loading.astro";
import "../styles/global.css";
export interface Props {
  title: string;
  currentPage: string;
}

const { title, currentPage } = Astro.props;
const completedPages = ["Home", "About"];
---

<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <meta name="description" content="The portfolio website of Emil Joshy" />
  <meta property="og:image" content="/favicon.ico" />
  <meta name="title" content={title} />
  <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
  <title>{title}</title>
  <body class="flex bg-white flex-col lg:h-screen">
    <div
      id="loadingSplash"
      class={`${
        completedPages.includes(currentPage) ? "" : "hidden"
      } bg-green h-full w-full fixed z-50 flex items-center justify-center`}
    >
      <Loading />
    </div>
    <div class="grow-0 shrink-0 sticky top-0 z-40">
      <Header currentPage={currentPage} />
    </div>
    <div class="grow shrink min-h-0 z-0"><slot /></div>
  </body>
</html>
